body{
	background-color: #16181c;
}

.home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

cloudflare-app[app="countdown"] cf-countdown-block cf-countdown-number{
	background-color: #16181c !important;
}